
.footer {
  background-color: #f2efd7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  box-shadow: 0px -1px 1px rgba(241, 240, 240, 0.979);
}

.footer p {
  margin: 0;
  align-self: center;
  font-size: 14px;
  color: #8e8c7a;
}

.footer img {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  color: #8e8c7a;
  align-self: center;
}