.containerNavCar {
  position: relative;
}

.responsive-carousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.responsive-carousel img {
  max-width: 100%;
  max-height: 40%;
  object-fit: cover;
}